<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2>Type a question to start:</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <mat-label>Question</mat-label>
                <input matInput placeholder="Question" formControlName="question" maxlength="80" (blur)="questionMaded()">
                <mat-hint>Press tab to add question</mat-hint>
                <mat-error *ngIf="question?.invalid || (question?.dirty || question?.touched)">{{ requiredField }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <ng-container formArrayName="answersArray">
            <div class="mt-2" *ngFor="let answer of answersArray?.controls; let i = index">
              <div class="row">
                <div class="col-8">
                  <mat-form-field>
                    <mat-label>Type an answer</mat-label>
                    <input matInput placeholder="Type an answer" maxlength="80" [formControlName]="i">
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button mat-mini-fab color="primary" class="icon-add" (click)="addAnswer(answer, i)">
                    <i class="icofont-ui-add"></i>
                  </button>
                </div>
                <div class="col-2">
                  <button mat-mini-fab color="warn" class="icon-remove" (click)="removeAnswer(i)">
                    <i class="icofont-ui-delete"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </form>
  
        <div class="footer">
          <div class="row">
            <div class="col-12 col-md-6">
              <p>{{ getNumberAnswersMade() }}/10 possible answers</p>
            </div>
            <div class="col-12 col-md-6">
              <button mat-raised-button (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="question$ | async">
      <div class="poll">
        <h4>{{ question$ | async }}</h4>

        <form *ngIf="getLengthArray() > 1" [formGroup]="formRadios">
          <mat-radio-group class="radio-group" formControlName="radio">
            <mat-radio-button class="radio-button" color="primary" *ngFor="let answer of (answers$ | async)" [value]="answer?.id">
              {{ answer?.text }}
            </mat-radio-button>
          </mat-radio-group>

          <div class="poll-button">
            <button mat-raised-button color="primary" (click)="vote()" [disabled]="!formRadios.valid">Vote</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-4" *ngIf="question$ | async">
      <div class="chart">
        <h4>{{ question$ | async }}</h4>

        <canvas #chart baseChart id="chart" 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType">
        </canvas>

        <div class="total-votes">
          <p>Total votes: {{ totalVotes }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
