.form {
    .icon-remove, .icon-add {
        margin: 15px 0 0 0;
        i {
            font-size: 16px;
        }
    }
}
.footer {
    margin: 30px 0;
    p {
        margin: 10px 0 0 0;
    }
    button {
        float: right;
    }
}
